.DS_STORE
*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
db/*.sqlite3
log/*.log
tmp
tmp/**/*
features/support/log/*.log
/log/*
/db/*.sqlite3
/public/assets/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/public/uploads/*
*.swp
*.swo
.pow*
doc/app
.yardoc
.tags
.tags_sorted_by_file
*~
logfile
/postgres
.idea
.bundle/
.ssh